# autoML-没有做特征工程

In [27]:
from autogluon.tabular import TabularDataset, TabularPredictor
import pandas as pd

In [28]:
from operator import index

df_train = TabularDataset('assets/dataTrain.csv')
df_test = TabularDataset('assets/dataA.csv')

In [29]:
# df_train.set_index(["id"], inplace=True)
# df_test.set_index(["id"], inplace=True)

In [30]:
df_train

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f38,f39,f40,f41,f42,f43,f44,f45,f46,label
0,81167,0,1,mid,0,0,0,153,0,0,...,0,0,0,0,0,0,0,624,1539,0
1,50408,1,1,mid,0,0,21,0,0,0,...,0,0,0,0,0,0,0,186,366,0
2,9114,0,0,high,36,36,120,0,0,0,...,0,0,0,0,0,0,0,24,48,1
3,53228,1,1,low,0,0,0,0,0,0,...,0,0,0,0,0,0,3,3,9,0
4,56280,1,1,mid,9,51,294,0,0,0,...,0,0,0,0,0,0,0,42,141,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59867,181695,0,0,high,0,0,0,45,0,0,...,0,0,0,0,0,0,0,141,399,0
59868,181696,0,0,low,0,0,0,54,0,0,...,0,0,0,0,0,18,0,84,576,0
59869,181697,0,0,mid,0,0,0,0,0,0,...,0,0,0,0,0,60,0,462,1074,1
59870,181698,0,0,high,0,36,0,0,183,0,...,0,0,0,0,0,0,0,420,0,0
59871,181699,0,1,mid,0,0,102,18,0,0,...,0,0,0,0,0,0,75,0,375,1

In [31]:
df_test

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f37,f38,f39,f40,f41,f42,f43,f44,f45,f46
0,1,1,1,mid,0,0,0,0,0,0,...,147,0,0,0,0,0,0,6,51,168
1,2,0,1,mid,0,0,0,0,0,0,...,111,0,0,0,0,0,6,21,219,459
2,3,0,1,high,0,0,0,0,0,0,...,102,0,0,0,0,0,0,0,18,27
3,4,0,1,mid,0,0,0,0,0,0,...,78,0,0,0,0,0,0,0,9,9
4,5,1,1,low,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,78,243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49853,49854,0,1,low,9,21,180,0,0,0,...,0,0,0,0,0,0,30,126,303,861
49854,49855,0,0,low,0,102,135,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49855,49856,1,1,mid,0,0,0,24,0,0,...,153,0,0,0,0,0,9,42,855,2823
49856,49857,0,1,high,24,84,90,0,0,0,...,138,0,0,0,0,0,0,0,105,363
49857,49858,1,1,low,0,30,63,0,0,0,...,0,0,0,0,0,0,0,0,87,267

In [32]:
# 对缺失值进行填充
df_train.fillna(-1, inplace=True)
df_test.fillna(-1, inplace=True)

df_train.isnull().sum()

id       0
f1       0
f2       0
f3       0
f4       0
f5       0
f6       0
f7       0
f8       0
f9       0
f10      0
f11      0
f12      0
f13      0
f14      0
f15      0
f16      0
f17      0
f18      0
f19      0
f20      0
f21      0
f22      0
f23      0
f24      0
f25      0
f26      0
f27      0
f28      0
f29      0
f30      0
f31      0
f32      0
f33      0
f34      0
f35      0
f36      0
f37      0
f38      0
f39      0
f40      0
f41      0
f42      0
f43      0
f44      0
f45      0
f46      0
label    0
dtype: int64

In [33]:
df_test

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f37,f38,f39,f40,f41,f42,f43,f44,f45,f46
0,1,1,1,mid,0,0,0,0,0,0,...,147,0,0,0,0,0,0,6,51,168
1,2,0,1,mid,0,0,0,0,0,0,...,111,0,0,0,0,0,6,21,219,459
2,3,0,1,high,0,0,0,0,0,0,...,102,0,0,0,0,0,0,0,18,27
3,4,0,1,mid,0,0,0,0,0,0,...,78,0,0,0,0,0,0,0,9,9
4,5,1,1,low,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,78,243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49853,49854,0,1,low,9,21,180,0,0,0,...,0,0,0,0,0,0,30,126,303,861
49854,49855,0,0,low,0,102,135,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49855,49856,1,1,mid,0,0,0,24,0,0,...,153,0,0,0,0,0,9,42,855,2823
49856,49857,0,1,high,24,84,90,0,0,0,...,138,0,0,0,0,0,0,0,105,363
49857,49858,1,1,low,0,30,63,0,0,0,...,0,0,0,0,0,0,0,0,87,267

In [34]:
predictor = TabularPredictor(label='label').fit(train_data=df_train,presets='best_quality')

No path specified. Models will be saved in: "AutogluonModels/ag-20221021_020418\"
Presets specified: ['best_quality']
Stack configuration (auto_stack=True): num_stack_levels=0, num_bag_folds=8, num_bag_sets=1
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels/ag-20221021_020418\"
AutoGluon Version:  0.5.2
Python Version:     3.8.13
Operating System:   Windows
Train Data Rows:    59872
Train Data Columns: 47
Label Column: label
Preprocessing data ...
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0, 1]
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    2508.47 MB
	Train Data (Original)  Memory Usage: 25.65 MB (1.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 2 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('int', [])    : 46 | ['id', 'f1', 'f2', 'f4', 'f5', ...]
		('object', []) :  1 | ['f3']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  :  1 | ['f3']
		('int', [])       : 44 | ['id', 'f4', 'f5', 'f6', 'f7', ...]
		('int', ['bool']) :  2 | ['f1', 'f2']
	0.3s = Fit runtime
	47 features in original data used to generate 47 features in processed data.
	Train Data (Processed) Memory Usage: 21.26 MB (0.8% of available memory)
Data preprocessing and feature engineering runtime = 0.41s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif_BAG_L1 ...
	0.9504	 = Validation score   (accuracy)
	0.07s	 = Training   runtime
	56.59s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ...
	0.9503	 = Validation score   (accuracy)
	0.05s	 = Training   runtime
	54.99s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ...
Will use sequential fold fitting strategy because import of ray failed. Reason: module 'google.protobuf.descriptor' has no attribute '_internal_create_key'
	Fitting 8 child models (S1F1 - S1F8) | Fitting with SequentialLocalFoldFittingStrategy
	0.9571	 = Validation score   (accuracy)
	7.24s	 = Training   runtime
	0.18s	 = Validation runtime
Fitting model: LightGBM_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with SequentialLocalFoldFittingStrategy
	0.9585	 = Validation score   (accuracy)
	2.62s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L1 ...
	0.959	 = Validation score   (accuracy)
	1.94s	 = Training   runtime
	1.39s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L1 ...
	0.959	 = Validation score   (accuracy)
	1.64s	 = Training   runtime
	1.4s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with SequentialLocalFoldFittingStrategy
d:\Users\96212\anaconda3\envs\autoML\lib\site-packages\xgboost\compat.py:31: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
	0.9582	 = Validation score   (accuracy)
	29.33s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: ExtraTreesGini_BAG_L1 ...
	0.9516	 = Validation score   (accuracy)
	1.44s	 = Training   runtime
	1.85s	 = Validation runtime
Fitting model: ExtraTreesEntr_BAG_L1 ...
	0.9516	 = Validation score   (accuracy)
	1.51s	 = Training   runtime
	1.85s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with SequentialLocalFoldFittingStrategy
No improvement since epoch 8: early stopping
No improvement since epoch 7: early stopping
No improvement since epoch 7: early stopping
	0.9557	 = Validation score   (accuracy)
	394.21s	 = Training   runtime
	0.9s	 = Validation runtime
Fitting model: XGBoost_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with SequentialLocalFoldFittingStrategy
	0.9586	 = Validation score   (accuracy)
	4.58s	 = Training   runtime
	0.2s	 = Validation runtime
Fitting model: NeuralNetTorch_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with SequentialLocalFoldFittingStrategy
	0.9553	 = Validation score   (accuracy)
	984.3s	 = Training   runtime
	0.6s	 = Validation runtime
Fitting model: LightGBMLarge_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with SequentialLocalFoldFittingStrategy
	0.9585	 = Validation score   (accuracy)
	5.1s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	0.9591	 = Validation score   (accuracy)
	12.61s	 = Training   runtime
	0.06s	 = Validation runtime
AutoGluon training complete, total runtime = 1571.85s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels/ag-20221021_020418\")

In [35]:
predictions = predictor.predict(df_test)

In [38]:
df_test['label'] = predictions

In [40]:
df_test[['id', 'label']].to_csv('submit/autoML-无特征工程.csv', index=False, encoding='utf-8')